.slg-field-input {
    display: block;
    border: 0 solid #d8d8d8;
    border-bottom-width: 1px;
    margin-top: 0px;
    margin-bottom: 15px;
    background: rgba(255,255,255,0);
    width: 100%;
}

.slg-field {
    padding: 10px 0;
    position: relative;
}

.slg-missing-required-field .slg-field-input {
    border-color: red;
}